input#first_name(type='text', name='first_name', placeholder='first_name')
input#last_name(type='text', name='last_name', placeholder='last_name')
input#email(type='email', name='email', placeholder='youremail@example.com')
input#detail(type='text', name='detail', placeholder='Description')
input#submit(type='submit', value='Add User')
