extends ../layout

block content
	header
		h1 A Marionette Playground

	#content
		#section

	#new

	script(type="text/template", id="angry_cats-template")
		thead
			th name
			th age
		tbody

	script(type="text/template", id="angry_cat-template")
		td <%=name %>
		td <%=age %>

block scripts
	//- script(src="/scripts/init.js")
